body {
	font-family: 'Roboto', sans-serif;
}

#GoT-map {
	width: 100%;
	height: 850px;
	position: relative;
}

#map {
	width: 100%;
	height: 100%;
}

.button-wrapper {
	z-index: 100;
}

.row div {
	/* https://stackoverflow.com/questions/12520751/animate-bootstrap-columns */
	-webkit-transition: width 0.5s ease, margin 0.5s ease;
	-moz-transition: width 0.5s ease, margin 0.5s ease;
	-o-transition: width 0.5s ease, margin 0.5s ease;
	transition: width 0.5s ease, margin 0.5s ease;
}

#panel {
	display: none;
	background-color: #8e8b8b;
}

#toggleScreenButton {
	pointer-events: auto;
	background-color: #524f4f;
	border: none;
	color: white;
	padding: 15px 20px;
	text-decoration: none;
	margin: 4px 2px;
	font-family: "Game of Thrones";
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	z-index: 100;
	display: none;
}

.exit:hover {
	font-size: 40px;
}


.popup {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: none;
	position: fixed;
	z-index: 101;
	background-color: #80808085;
}

.intro-dialog {
	min-width: 600px;
	width: 900px;
	min-height: 150px;
	height: 500px;
	margin: 100px auto;
	background: #000000a6;
	position: relative;
	z-index: 103;
	padding: 15px 35px;
	border-radius: 5px;
	box-shadow: 0 2px 5px #000;
}

.intro-dialog p {
	clear: both;
	color: #555555;
	/* text-align: justify; */
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
}

.intro-dialog p a {
	color: #e85d5d;
	font-weight: bold;
	font-size: 30px;
	line-height: 1.6;

}

.intro-dialog h1 {
	text-align: center;
	font-family: "Game of Thrones";
	line-height: 1.6;
	color: #e7d09f;
	letter-spacing: 3px;
}

.intro-dialog p {
	color: #9c9b98;
}

.intro-dialog a {
	text-decoration: none;
	font-family: "Game of Thrones";
	text-align: center;
	line-height: 1.6;

}

.intro-dialog .x {
	float: right;
	height: 35px;
	left: 22px;
	position: relative;
	top: -25px;
	width: 34px;
}

.intro-dialog .x:hover {
	cursor: pointer;
}

.house-name {
	font-family: "Game of Thrones";
	font-size: 30px;
	text-align: center;
}

.character-name {
	font-family: "Game of Thrones";
	font-size: 15px;
	text-align: center;
}

.compare-text {
	font-family: "Game of Thrones";
	font-size: 15px;
	text-align: center;
}

.compare-title {
	font-family: "Game of Thrones";
	font-size: 30px;
	text-align: center;
}

.foe-y-label {
	font-family: 'Game of Thrones';
	font-size: 10px;
	text-anchor: end;
}

.foe-x-label {
	font-family: 'Game of Thrones';
	font-size: 10px;
	text-orientation: upright;
	writing-mode: vertical-rl;
}

.friend-y-label {
	font-family: 'Game of Thrones';
	font-size: 10px;
	text-anchor: end;
}

.friend-x-label {
	font-family: 'Game of Thrones';
	font-size: 10px;
	text-orientation: upright;
	writing-mode: vertical-rl;
}
.barchart-x-label {
	font-family: 'Game of Thrones';
	font-size: 10px;
	text-orientation: upright;
	writing-mode: vertical-rl;
}

.sigil-text {
	font-family: 'Game of Thrones';
	font-size: 12px;
}
.sigil-border {
	border: 10px solid blue;
}

.chart-title {
	font-family: 'Game of Thrones';
	font-size: 15px;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
